<div class="text-center mt-3">
    <div class="d-inline-block w-100 shadow-no-offset ps-4 pe-4 max-repeater-width">
        <div class=fw-bold>@Forecast.Name</div>
        <div>@Forecast.DetailedForecast</div>
    </div>
</div>